@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

button {
  @apply text-white hover:shadow-lg transition-shadow hover:cursor-pointer;
}
.btn {
  @apply px-4 py-2 rounded-md;
}

.card-container {
  @apply bg-white rounded-lg shadow hover:shadow-xl cursor-pointer transition-shadow hover:border hover:border-purple-400/40 overflow-hidden;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-gradientMove {
  background-size: 200% 200%;
  animation: gradientMove 8s ease infinite;
}
